WeatherFlow_20240229061559/Microsoft.Flow/flows/8493e579-ccbb-400b-a465-f8b2fe181bd6/definition.json
{"name":"2cfd41bf-b470-46c1-8d72-b149646ce3a4","id":"/providers/Microsoft.Flow/flows/2cfd41bf-b470-46c1-8d72-b149646ce3a4","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Weather Flow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"3365e6db-9055-4463-a518-a5a33d510d77","type":"User","tenantId":"8e8e0923-9fd1-48fc-b274-b5373cb4026f"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-02-19T08:43:01.0459681Z","connectionKeySavedTimeKey":"2024-02-19T08:43:01.0459681Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"startTime":"2024-02-19T03:00:00.000Z"},"metadata":{"operationMetadataId":"bcb7ff6f-5bd6-452a-ba9b-2957b6c09662"},"type":"Recurrence"}},"actions":{"Get_forecast_for_today":{"runAfter":{},"metadata":{"operationMetadataId":"8bfeec37-a69c-43bc-91eb-ab5836f01d2c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_msnweather","connectionName":"shared_msnweather","operationId":"TodaysForecast"},"parameters":{"Location":"Bangkok ","units":"C"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"e2014edb-825c-4ae4-9148-c810cc058287"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"admin555@lry7.onmicrosoft.com","emailMessage/Subject":"UV index","emailMessage/Body":"<p>The UV index is @{outputs('Get_forecast_for_today')?['body/responses/daily/uv']}. Wear a hat.</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_forecast_for_today":["Succeeded"]},"expression":{"or":[{"greaterOrEquals":["@outputs('Get_forecast_for_today')?['body/responses/daily/uv']",8]},{"equals":["",""]}]},"metadata":{"operationMetadataId":"d034472a-9af2-4a5e-bc6b-50d97622490f"},"type":"If"}}},"connectionReferences":{"shared_msnweather":{"connectionName":"shared-msnweather-04d719b6-dfa5-4738-8327-d0c0611a25b5","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_msnweather","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-e1ce420b-ed35-48ca-9a48-ed8f5faca599","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}